[user]
	name = Paul Cochrane
	email = paul@liekut.de
[core]
	excludesfile = ~/.gitignore_global
[alias]
	st = status
	di = diff
	ci = commit -v
	hist = log --graph --all --color=always --decorate --oneline
	co = checkout
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
[color]
	ui = true
[push]
	default = current
