[user]
	name = Paul Cochrane
	email = paul@liekut.de
[core]
	excludesfile = ~/.gitignore_global
[alias]
	st = status
	di = diff
	ci = commit -v
	hist = log --graph --all --color=always --decorate --oneline
	co = checkout
[color]
	ui = true
[push]
	default = current
